<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AdminLoginID" value="admin"/>
    <add key="AdminPassword" value="123"/>
    
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="rpapu47@gmail.com"/>
    <add key="Password" value="9658120665"/>
    <add key="Port" value="587"/>
    
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="MyCon" connectionString="Data Source=BIKASH;Initial Catalog=ShoppingCartDB;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

</configuration>
